*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}
header{
	background-image: url(wallpaper1.jpg);
	background-position: center;
	height: 100vh;
	background-size: cover;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 20px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s;
	margin-top: 10px;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.tulisan{
	font-family: sans-serif;
	columns: #fff;
	font-size: 20px;
	padding: 15px 20px;
}
.tulisan h3{
	color: white;
}
.title{
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-50%;-50%);
}
.title h1{
	font-family: sans-serif;
	columns: #fff;
	font-size: 70px;
	color: white;
	font-style: italic;
}